*~
*#
*.o
*.axf
*.map
*.bin
*.hex
*.pyc
*.elf
*.out
*.ewp
*.init
*.txt
*.bat
*.ini
.sconsign.dblite
cscope*
build/
/project_rtthread-stm32.dep
/project.uvgui.Administrator
/project.uvoptj
/obj
/JLinkSettings.ini
/project.uvgui_Administrator.bak
/JLink Regs CM3.txt
/JLinkLog.txt
/project.uvopt
/yuettak_smart_lock_jlink.cfg
/yuettak_smart_lock_openjtag.cfg
/template.uvproj
/template.Uv2
/README
