*~
*#
*.o
*.axf
*.map
*.bin
*.hex
*.pyc
*.elf
*.out

.sconsign.dblite
cscope*
build/
/project_rtthread-stm32.dep
/project.uvgui.Administrator
/project.uvopt

/obj
/JLinkSettings.ini
/project.uvgui_Administrator.bak

/template_RT-Thread STM32.dep
/template.uvproj
/template.uvopt
/template.Uv2.bak
/template.ewp
/GPATH
/GRTAGS
/GTAGS
/gtags.files
/JLink Regs CM3.txt
/JLinkLog.txt
/JLinkSettings.ini
/Smart_Lock_MDK_Project.uvopt
/Smart_Lock_MDK_Project_rtthread-stm32.dep
/Smart_Lock_MDK_Project_uvproj.bak
/project_uvproj.bak
/project_uvopt.bak
/delete_bat_file.bat
